.header {
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}

.mt-3 {
    display: inline-block;
    /* margin-top: 10px; */
}

/* Header.css */

@media (max-width: 768px) {
  .logo {
    width: 32px !important;
    height: 32px !important;
    font-size: 14px;
  }

  .dropdown-toggle {
    font-size: 14px;
  }

  .btn-outline-primary {
    padding: 4px 10px;
    font-size: 14px;
  }
}
